// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


header{
    display: flex;
    justify-content: center;
}

.logo{
    width: 165px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fa-arrow-left{
    font-size: 25px;
    padding-top: 20px;
}