header {
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    width: 165px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fa-arrow-left {
    position: absolute;
    left: 25px;
    font-size: 25px;
    padding-top: 20px;
}