.button {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    margin-bottom: 55px;
    border: 1px solid;
    padding: 20px;
    border-radius: 45px;
    background-image: linear-gradient($secondary-color, $primary-color);
    width: calc(100% - 150px);
    text-align: center;
    border: none;
    @include bg-shadow
}

.button_alf {
    margin-top: 50px;
    color: white;
    font-size: 18px;
    margin-bottom: 80px;
    border: none;
    padding: 20px;
    border-radius: 45px;
    background-image: linear-gradient($secondary-color, $primary-color);
    width: calc(100% - 150px);
    text-align: center;
    align-self: center;
    @include bg-shadow
}

.button_alf:hover {
    cursor: pointer;
    background-image: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 15%));
    @include bg-shadow-light
}

.button:hover {
    border: none;
    cursor: pointer;
    background-image: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
    @include bg-shadow-light
}

@media (min-width: 600px) {
    .button {
        width: 200px;
    }

    .button_alf {
        width: 250px;
        margin-top: 150px;
        font-size: 25px;
    }
}