.section_fonctionnement h1{
    margin-top: 50px;
    font-size: 26px;
    padding-left: 15px;
}

.cards_fonctionnement{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 15px;
    width: calc(100% - 60px);
}

@media (min-width: 1080px){
   .section_fonctionnement{
        margin-bottom: 100px;
    }

   .cards_fonctionnement{
       display: flex;
       flex-direction: row;
   }
   .section_fonctionnement h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}

}

.card_fonctionnement{
    cursor: pointer;
    display: flex;
    font-size: 20px;
    border: none;
    width: calc(100% - 50px);
    border-radius: 25px;
    margin-top: 20px;
    padding: 25px 25px 25px 0px;
    background-color: #f6f6f6;
    align-items: center;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

.cards_fonctionnement p{
    font-size: 17px;
    font-weight: bold;
}

.card_fonctionnement i{
    width: 8%;
}

.fa-mobile-alt{
    padding-right: 15px;
}

.fa-store{
    padding-right: 15px;
}

.fa-list-ul{
    padding-right: 15px;
}

.cards_fonctionnement span{
    background-color: $primary-color;
    border-radius: 100%;
    color: white;
    position: relative;
    left: -17px;
    top: calc(50% - 17px);
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_fonctionnement{
    position: relative;
}