.menu_alf {
    display: flex;
    border-radius: 45px 45px 0px 0px;
    background-color: #f6f6f6;
    margin-top: -50px;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;

    h1 {
        font-family: 'Shrikhand';
        font-weight: 200;
        padding-top: 30px;
        padding-left: 10px;
    }

    h2 {
        font-family: 'Roboto', cursive;
        font-weight: normal;
        font-size: 18px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-left: 8px;
        border-bottom: 2px solid $tertiaire-color;
        align-self: flex-start;
    }
}

.menu_alf_card {
    position: relative;
    cursor: pointer;
    margin-top: 13px;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    background-color: white;
    border-radius: 20px;
    width: calc(100% - 30px);
    display: flex;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    overflow: hidden;
    animation: fade 1s ease-out;

    span {
        padding-top: 20px;
        font-weight: bold;
        padding-left: 10px;
    }

    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        font-size: 15px;
    }
}

.menu_alf_card:nth-child(1){
    animation: fade 1.5s ease-out;
}

.menu_alf_card:nth-child(2){
    animation: fade 3s ease-out;
}

.menu_alf_card:nth-child(3){
    animation: fade 4.5s ease-out;
}


.confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tertiaire-color;
    width: 0;
    height: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 20px 0px;
    right: 0px;
    top: 0;
    overflow: hidden;
    transition: 500ms ease-in-out;

    .fa-check-circle {
        color: #fff;
        transition: transform 1s ease-in-out;
    }
}

.menu_alf_card:hover .confirmation {
    width: 10%;
    padding: 20px;
}

.menu_alf_card:hover .fa-check-circle {
    transform: rotate(360deg);
}

.menu_alf_card:hover {
    .description_alf {
        width: calc(90% - 10% - 40px);
        transition: 500ms ease-in-out;
    }
}

.fa-check-circle {
    font-size: 25px;
}

.description_alf {
    width: 90%;
    transition: 500ms ease-in-out;
}



@media (min-width: 900px) {
    .menu_alf_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu_alf_card {
        flex-direction: row;
        width: 30%;
        height: 50px;
    }

    .menu_alf {
        h1 {
            text-align: center;
            font-size: 40px;
        }

        h2 {
            margin-left: 0px;
            align-self: center;
            font-size: x-large;
            margin-top: 70px;
            margin-bottom: 50px;
        }

    }
}