.titres_accueil{
    font-family: 'Roboto', cursive;    
    display: flex;
    background-color: #f6f6f6;
    justify-content: center;
    flex-wrap: wrap;
}

.reservez{
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
}

.decouvrez{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}